{% extends "layout.njk" %}

{% block head %}
    <title>{{recipes.title}} - Foodfy </title>
{%endblock%}


{% block content %}  
        <div class="title-show">
            <h1>Receita: {{recipe.title}}</h1>
            <a href="/admin/{{recipe.id}}/edit" class="global-button">Editar</a>
        </div>
        

        <div class="recipe-details">
            <div class="details-image">
                <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
            </div>
            
            <div class="infos-details">
                <h4>{{recipe.title}}</h4>
                <p class="autor">por {{recipe.author}}</p>
            </div>
        

            <div class="instructions">
                <div class="ingredients">
                    <div class="title">
                        <h4>Ingredientes</h4>
                        <p class="button">ESCONDER</p>
                    </div>
                    <div class="hide">
                        {% for ingredient in recipe.ingredients %}                        
                            <ul>
                                <li>{{ingredient}}</li>
                            </ul>                            
                        {% endfor %}  
                    </div>              
                </div>

                <div class="preparation">
                    <div class="title">
                        <h4>Modo de preparo</h4>
                        <p class="button">ESCONDER</p>
                    </div>
                    <div class="hide">
                        {% for item in recipe.preparation %}
                            <ul>
                                <li>{{item}}</li>
                            </ul>                                              
                        {% endfor %}  
                    </div>
                </div>

                <div class="information">
                    <div class="title">
                        <h4>Informações adicionais</h4>
                        <p class="button">ESCONDER</p>                                  
                    </div> 
                    <p class= "hide">{{recipe.information}}</p>
                </div>
            </div>

        </div>
    
    <script src="/scripts.js"> </script>
{% endblock%}

