{% extends "layout.njk" %}

{% block content %}
    {% for recipe in recipes %}
    
        <div class="card" id="{{recipe.id}}">
            <div class="details-image">
                <img src="{{recipe.image}}" alt="Imagem {{recipe.title}}">
            </div>
            
            <div class="infos-details">
                <h4>{{recipe.title}}</h4>
                <p class="autor">por {{recipe.author}}</p>
            </div>
        </div>

        <div class="instructions">
            <div class="ingredients">
                <div class="title">
                    <h4>Ingredientes</h4>
                    <button>ESCONDER</button>
                </div>
                {% for ingredient in recipe.ingredients %}
                    <li class="hide">{{ingredient}}</li>
                {% endfor %}                
            </div>

            <div class="preparation">
                <div class="title">
                    <h4>Modo de preparo</h4>
                    <button>ESCONDER</button>
                </div>
                {% for item in recipe.preparation %}
                    <li class="hide">{{item}}</li>
                {% endfor %}                
            </div>

            <div class="information">
                <div class="title">
                    <h4>Informações adicionais</h4>
                    <button>ESCONDER</button>                                  
                </div> 
                <p class= "hide">{{recipe.information}}</p>
            </div>
        </div>

    {% endfor %}
    <script src="scripts.js"></script>
{% endblock%}

