{% extends "layout.njk" %}

{% block head %}
    <title>{{recipes.title}} - Foodfy </title>
{%endblock%}

{% block content %}       
        <div class="recipe-details">
            <div class="details-image">
                <img src="{{recipes.image}}" alt="Imagem de {{recipes.title}}">
            </div>
            
            <div class="infos-details">
                <h4>{{recipes.title}}</h4>
                <p class="autor">por {{recipes.author}}</p>
            </div>
        

            <div class="instructions">
                <div class="ingredients">
                    <div class="title">
                        <h4>Ingredientes</h4>
                        <button>ESCONDER</button>
                    </div>
                    {% for ingredient in recipes.ingredients %}
                        <div class="hide">
                            <ul>
                                <li>{{ingredient}}</li>
                            </ul>
                        </div>
                    {% endfor %}                
                </div>

                <div class="preparation">
                    <div class="title">
                        <h4>Modo de preparo</h4>
                        <button>ESCONDER</button>
                    </div>
                    {% for item in recipes.preparation %}
                        <div class="hide">
                            <ul>
                                <li>{{item}}</li>
                            </ul>
                        </div>                        
                    {% endfor %}                
                </div>

                <div class="information">
                    <div class="title">
                        <h4>Informações adicionais</h4>
                        <button>ESCONDER</button>                                  
                    </div> 
                    <p class= "hide">{{recipes.information}}</p>
                </div>
            </div>

        </div>
    
    <script src="scripts.js"> </script>
{% endblock%}

